.container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.div-tanya-img {
  background-image: url('images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-Tanya {
  width: 220px;
}
.img-aspas{
    
    padding-left: 100px;
    max-width: 50px;
    z-index:-1;
    margin-bottom: -20px;
    
}
.paragrafo{
  color:#adaeb7
}

.img-curva{
    padding-top: 30px;
 width: 60vw;
   
}
.container-paragrafo{
    display: flex;
    flex-direction: column;
    text-align: center;
}